/vendor
composer.lock
yarn.lock
package-lock.json
/files
/public/Nginx_1.14_vhost.conf
*.log
.phpunit.result.cache

.DS_Store
node_modules/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
